.mdp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.input, .login {
    border: 1px solid #F49D37;
    background-color: #F49D37;
    color: #305f73;
    font-size: 10pt;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 25px;
}

.login {
    margin-top: 20px;
    border: 1px solid #305f73;
}
