<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modification de mot de passe{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/index.css') }}">
</head>

<body>
{% for message in app.flashes('mdpchanged') %}
    <div class="msg">
        {{ message }}
    </div>
{% endfor %}
<div class="mdp">
    {{ form_start(form) }}
    <div>{{ form_widget(form.password, { 'attr': {'placeholder' : 'Nouveau mot de passe', 'class' : 'input'} }) }}</div>
    <div><input class="login" type="submit" value="Valider mon mot de passe"></div>
    {{ form_end(form) }}
</div>

</body>
</html>